{{#each this}}
<div class="col-xs-6 col-md-3">
  <a class="thumbnail">
  <div class="caption">
	  <div>
	  	<h1>{{location}}</h1>
	  </div>
	  <div>	
	  	{{#each reviews}}
	  	  <h3>{{title}}</h3>
	  	  <h3>{{date}}</h3>
	  	  <p>{{text}}</p>
	  	{{/each}} 
	  </div>
	  <button id="add-review#{{@key}}">Add Review</button>
	  <div class="review-container row">
	    <div class="input-group input-group-lg"> 
		    <textarea class="review-entry" class="form-control" rows="3" placeholder="review"></textarea>
		    <button type="button" id="save-review">Save Review</button> 
		  </div>
		</div>     
	</div>  
  </a>
</div>  
{{/each}}